.hidden {
    display: none;
}

/* Essentials */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    background-color: #FFFFFF;
}

footer {
    background-color: #2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Common */

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
        }
}

/* Header */

.header-class {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, .address-header {
    display: none;
}

.logo-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.accent-logo-header {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .navig {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }

    .address-header {
        font-style: normal;
        display: block;
    }

        .navigation-header {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2E2F42;
            padding: 24px 0;
            display: block;
        }
    
        .navigation-header.current {
            position: relative;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .navigation-header.current::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }

    .address-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .contacts-header {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .navigation-header:hover,
    .contacts-header:hover,
    .navigation-header:focus,
    .contacts-header:focus {
        color: #404BBF;
    }

}

@media screen and (min-width: 1158px) {
    .logo-header {
        margin-right: 76px;
    }
    .address-list {
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }
    .contacts-header {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-nav-item {
    display: block;
}

.mob-menu-header {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu-header.accent {
    color: #404bbf;
}

.address-mob-menu {

}

.address-mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 48px;
    font-style: normal;
}

.address-mob-menu-item {}

.contacts-mob-menu-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-mob-menu-header.accent-address {
    color: #4d5ae5;
}

.socials-list-mob-menu {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* First section */

.first-section {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x1-phone.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto; 
}

@media (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x2-phone.jpg);
    }
}

.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 216px;
    margin: 0 auto 72px;
    text-align: center;
}

.button-main {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

@media (min-width: 768px) {
    .first-section {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x1-tablet.jpg);
        max-width: 768px;
    }
    .main-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x2-tablet.jpg);
    }
}

@media (min-width:1158px) {
    .first-section {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x1-dekstop.jpg);
    }
    .main-header {
        margin: 0 auto 48px;
    }
    .button-main:hover,
    .button-main:focus {
            background-color: #404BBF;
        }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-x2-dekstop.jpg);
    }
}

/* Second section */

.second-section {
    background-color: #FFFFFF;
    padding: 96px 0;
}

.features-list {
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-wrap: wrap;
}

.container-for-logos {
    display: none;
}

.features-item {
    width: 288px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    display: flex;
}

.titles-second-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0 auto;
    /* margin-bottom: 8px; */
}

.text-second-section {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

@media (min-width: 768px) {
    .features-list {
        gap: 72px 24px;
    }
    .features-item {
        width: 356px;
    }
    .titles-second-section {
        margin: 0;
    }
}

@media (min-width: 1158px) {
    .second-section {
        padding: 120px 0;
    }
    .features-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
    .container-for-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        width: 264px;
    }
    .features-item {
        width: 264px;
    }
    .titles-second-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .text-second-section {
        font-weight: 400;
    }
}

/* Third section */

.third-section {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.header-third-section {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.members-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.third-section-list {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.member-info {
    padding: 32px 0;
}

.third-section .headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.third-section .texts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-links-list {
    width: 40px;
    height: 40px;
}

.social-links-list-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-image-blue {
    fill: #f4f4fd;
}

@media (min-width: 768px) {
    .members-list {
        gap: 64px 24px;
    }
}

@media (min-width: 1158px) {
    .third-section {
        padding: 120px 0;
    }
    .members-list {
        gap: 24px;
    }
    .social-links-list-item:hover,
    .social-links-list-item:focus {
        background-color: #404bbf;
    }
}

/* Forth section */

.fourth-section {
    background-color: #FFFFFF;
    padding: 96px 0;
}

.header-fourth-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
}

.fourth-section-list {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-portfolio-itself {
    width: 100%;
    max-width: 288px;
    height: 280px;
    max-height: 280px;
}

.text-image-portfolio {
    display: none;
}

.portfolio-info {
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.fourth-section .headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.fourth-section .texts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    .image-portfolio-itself {
        max-width: 356px;
        height: 300px;
        max-height: 300px;
    }
}

@media (min-width: 1158px) {
    .fourth-section {
        padding: 120px 0;
    }
    .portfolio-list {
        row-gap: 48px;
    }
    .fourth-section-list {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }
    .fourth-section-list:hover {
        transform: translateY(0);
        cursor: pointer;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .image-portfolio {
        position: relative;
        overflow: hidden;
    }
    .fourth-section-list:hover .text-image-portfolio {
        transform: translateY(0%);
    }
    .text-image-portfolio {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
    }
    .image-portfolio-itself {
        max-width: 360px;
    }
}

/* Footer */

.footer {
    padding: 96px 0;
    background-color: #2E2F42;
}

.footer-main-flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.accent-logo-footer {
    color: #F4F4FD;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 288px;
    margin-bottom: 72px;
}

.footer-socials {
    /* margin: 0 auto; */
}

.footer-socials-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.socials-list {
    display: flex;
    gap: 16px;
}

.socials-list-item {
    width: 40px;
    height: 40px;
}

.socials-list-item-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-itself {
    fill: #f4f4fd;
}

.subscribe-text-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 72px;
    justify-content: center;
    display: flex;
}

.form-footer {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.email-footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
}

.email-footer::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.button-subscribe-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: white;
    border: none;
    cursor: pointer;
    width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

.image-itself-footer {
    fill: #f4f4fd;
    margin-left: 16px;
}

@media (min-width: 768px) {
    .footer-main-flex {
        justify-content: flex-start;
    }
    .footer-logo-and-paragraph {
        padding-left: 108px;
    }
    .logo-footer {
        justify-content: flex-start;
    }
    .text-footer {
        max-width: 264px;
        margin-right: 24px;
    }
    .footer-socials-paragraph {
        justify-content: flex-start;
    }
    .footer-subscribe {
        padding-left: 108px;
    }
    .form-footer {
        gap: 24px;
        flex-direction: row;
    }
    .subscribe-text-footer {
        margin-top: 0;
        justify-content: flex-start;
    }
    .email-footer {
        width: 264px;
    }
}

@media (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
    .footer-main-flex {
        flex-wrap: nowrap;
    }
    .footer-logo-and-paragraph {
        margin-right: 120px;
        padding-left: 15px;
    }
    .text-footer {
        width: 264px;
        margin-right: 0;
        margin-bottom: 0;
    }
    .socials-list-item-a:hover,
    .socials-list-item-a:focus {
        background-color: #31d0aa;
    }
    .email-footer {
        border: 1px solid #ffffff;
    }
    .email-footer::placeholder {
        color #ffffff;
    }
    .footer-subscribe {
        padding-left: 80px;
    }
}

/* Modal */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.close-button {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
}

.close-icon {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-fieldset {
    margin-bottom: 8px;
}

.form-fieldset:nth-child(4) {
    margin-bottom: 16px;
}

.form-fieldset:nth-child(5) {
    margin-bottom: 24px;
}

.container-input {
    position: relative;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 12px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.textarea-form {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.policy-label .custom-checkbox {
    background-image: url("/images/icons.svg#icon-check");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}

.checkbox-icon {
    width: 10px;
    height: 8px;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.terms-text {
    padding-left: 8px;
}

.button-form {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.input-form:focus {
    border-color: #4d5ae5;
}

.input-form:focus+.input-icon {
    fill: #4d5ae5;
}

.textarea-form:focus {
    border-color: #4d5ae5;
}

@media (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media (min-width: 1158px) {
    .close-button:hover,
    .close-button:focus {
        background-color: #404bbf;
        border: none;
    }
    .close-button:hover .close-icon,
    .close-button:focus .close-icon {
        fill: #ffffff;
    }
}

